:root {
  --dark-two: hsl(0, 0%, 30%);
  --light-one: hsl(210, 17%, 99%);
  --background-1: hsl(140, 43%, 96%);
  --primary: hsl(138, 24%, 39%);
  --background: hsl(52, 94%, 94%);
}

@font-face {
    font-family: 'madeMellow';
    src: url(../fonts/mademellowpersonaluse-regular-webfont.woff) format('woff');
    src: url(../fonts/mademellowpersonaluse-regular-webfont.woff2) format('woff2');
    
  }
  @font-face {
    font-family: 'madeMellow';
    src: url(../fonts/mademellowpersonaluse-bold-webfont.woff) format('woff');
    src: url(../fonts/mademellowpersonaluse-bold-webfont.woff2) format('woff2');
    font-weight: bold;
  }
  

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', arial;
}

.main-container {
  padding: 2em 8em;
  background-color: var(--background);
  min-height: 100vh;
  height: auto;
}

.heading-container {
  padding-bottom: 1em;
  padding-top: 2em;
  border-bottom: 2px solid var(--dark-two);
}

.heading {
    font-family: 'madeMellow', serif;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 2px;
  margin-bottom: 0.5em;
  color: var(--primary);
}

.subheading {
  color: var(--dark-two);
}

.date {
  font-weight: 400;
}

.content-container {
  display: flex;
  gap: 2em;
  margin: 2em 0;
  align-items: center;
}

.image-container {
  min-width: 200px;
  width: 400px;
  height: auto;
  float: left;
}

.image {
  width: 100%;
  height: auto;
}

.content {
  min-width: 400px;
  max-width: 800px;
  text-align: justify;
}

.subheading {
  font-size: 1rem;
}

.about {
  margin-top: 0.8em;
  line-height: 1.5;
  color: var(--dark-two);
}

.about:first-of-type {
  margin-top: 1em;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 40px;
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.nav-items {
  display: flex;
  list-style: none;
}

li {
  padding-right: 3em;
}

.logo {
  height: 20px;
  width: auto;
  cursor: pointer;
}

.profile-logo {
  height: 25px;
}



h4.question {
  margin: 2em;
}

.codepen-container {
  margin-bottom: 4em;
}

.code-example {
  margin: 4em 0;
}

@media (max-width: 1300px) {
  .content {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .main-container {
    padding: 2em 4em;
  }
}

@media (max-width: 700px) {
  .content-container {
    flex-direction: column;
  }

  .image-container {
    order: 2;
  }
}

@media (max-width: 500px) {
  .content {
    min-width: 200px;
    max-width: 800px;
  }
}
