:root {
  --dark-two: hsl(0, 0%, 30%);
  --light-one: hsl(210, 17%, 99%);
  --background-1: hsl(140, 43%, 96%);
  --primary: hsl(138, 24%, 39%);
  --background: hsl(52, 94%, 94%);
}

@font-face {
  font-family: 'madeMellow';
  src: url(../fonts/mademellowpersonaluse-regular-webfont.woff) format('woff');
  src: url(../fonts/mademellowpersonaluse-regular-webfont.woff2) format('woff2');
  
}
@font-face {
  font-family: 'madeMellow';
  src: url(../fonts/mademellowpersonaluse-bold-webfont.woff) format('woff');
  src: url(../fonts/mademellowpersonaluse-bold-webfont.woff2) format('woff2');
  font-weight: bold;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', arial;
}

.container {
  padding: 2em 12em;
  background-color: var(--background);
  min-height: 100vh;
  height: auto;
}

.image-container {
  width: 100%;
  height: 600px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-fill {
  object-fit: fill;
}

.heading-container {
  padding-bottom: 1em;
  margin: 2em 0;
  border-bottom: 2px solid var(--dark-two);
}

.heading {
  color: var(--primary);
  font-family: 'madeMellow', serif;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 2px;
}

.subheading {
  color: var(--dark-two);
  font-weight: 600;
  font-size: 1.4rem;
}

.date {
  font-weight: 400;
  color: var(--dark-two);
}

.content {
  margin: 2em 0;
}

.question {
  font-size: 1.5rem;
  margin-top: 1em;
  color: var(--dark-two);
}

.content-subheading {
  margin-top: 1em;
  margin-left: 1em;
  color: var(--dark-two);
  font-weight: 600;
}

.answer {
  margin-top: 0.8em;
  line-height: 1.5;
  color: var(--dark-two);
}

.answer:last-child {
  padding-bottom: 4em;
}

.answer-bold {
  font-weight: 600;
  margin-top: 0.8em;
}

.answer-italic {
  font-style: italic;
  font-weight: 500;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.nav-items {
  display: flex;
  list-style: none;
}

li {
    padding-right: 3em;
  font-size: 16px;
}

.logo {
  height: 20px;
  width: auto;
  cursor: pointer;
}

.profile-logo {
  height: 25px;
}

.ordered-list {
  margin-top: 1em;
  margin-left: 2em;
  color: var(--dark-two);
}
.list-item {
  padding-top: 10px;
}

.code-example {
  margin-top: 2em;
}

.content-image {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content-image-small {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media (max-width: 1400px) {
  .content-image {
    width: 100%;
  }
}


@media (max-width: 1100px) {
  .container {
    padding: 2em 8em;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 2em 4em;
  }

  .image-container {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 550px) {
  .image-container {
    width: 100%;
    height: 200px;
  }
}
